{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <h1>Liste des articles</h1>
    <div style={marginBottom:"20px"}>
        {% for post in posts %}
            <p>Par : {{ post.author.name }}</p>
            <p>Titre : {{ post.title }}</p>
            <p>Publication : {{ post.content }}</p>
            <p>Post ID : {{ post.id }}</p>
            <a href="/blog_php_oc/post/{{ post.id }}">Go</a>
        {% endfor %}
    </div>
{% endblock %}