{% extends 'base.html.twig' %}


{% block title %}
	Blog -
	{{ post.title }}
{% endblock %}

{% block content %}
	<div class="single-post-wrapper">
		<div class="single-post-banner">
			{% if post.coverImage %}
<<<<<<< HEAD
				<img src="http://localhost/uploads/{{ post.coverImage }}" alt="{{ post.title }}">
=======
				<img src="http://localhost/blog_php_oc/uploads/{{ post.coverImage }}" alt="{{ post.title }}">
>>>>>>> 47511f0b1717e522b9c821facf56431bf8316335
				<div class="cover-opacity"></div>
			{% endif %}
		</div>
		<div class="single-post-content-wrapper">
			<div class="single-post-title-wrapper">
				<a target="_blank" title="Visiter le site" class="visit-site" href='{{ post.externalUrl}}'></a>
				<h1 class="titre-1">
					{{ post.title }}
				</h1>
			</div>
<<<<<<< HEAD
			<p id="post-text">{{ post.content }}</p>
=======
			<p>{{ post.content }}</p>
>>>>>>> 47511f0b1717e522b9c821facf56431bf8316335
			<p>Publié le
				{{ post.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
			{% if isAdmin %}
				<div class="admin-tool">
					<a href="{{ path('edit_post', {'id': post.id}) }}">Editer</a>
					<form action="{{ path('delete_post', {'id': post.id}) }}" method="post">
						<button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?')">Supprimer</button>
					</form>
				</div>
			{% endif %}
		</div>
		<div id='ancre-comment' class="single-post-comment-wrapper">
			<h2>Commentaires
				<span class="toogle-comment"></span>
			</h2>
			{% for comment in post.getValidatedComments %}
				<div class="comment-wrapper">
					<p>{{ comment.content }}</p>
					<div class="comemnt-infos">
						<p>
							Par
							<span>{{ comment.author.name }}</span>
<<<<<<< HEAD
							le
							{{ comment.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
=======
							le {{ comment.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
>>>>>>> 47511f0b1717e522b9c821facf56431bf8316335
						</p>
						{% if isAdmin %}
							<form class="delete-comment-form" action="{{ path('delete_comment', {'id': comment.id}) }}" method="post">
								<button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')">Supprimer</button>
							</form>
						{% endif %}
					</div>
				</div>
			{% endfor %}


			{% if isAuthenticated and not isAdmin %}
				<h2>Vos commentaires en attente d'une validation</h2>
				{% for comment in post.getComments %}
					{% if not comment.getIsValidated and comment.author.id == userId %}
						<div class="opacity-comment">
							<p>{{ comment.getContent }}</p>
<<<<<<< HEAD
							<p>
								Par
								<span>{{ comment.author.name }}</span>
								le
								{{ comment.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
							</p>
=======
							<p>En attente de validation</p>
>>>>>>> 47511f0b1717e522b9c821facf56431bf8316335
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}

			{% if post.getComments is not empty and post.getComments|filter(c => not c.getIsValidated)|length > 0 and isAdmin %}
				<h2>Adminsitrer les commentaires en attentes</h2>
				{% for comment in post.getComments %}
					{% if not comment.getIsValidated %}
						<div class="opacity-comment">
							<p>{{ comment.getContent }}</p>
							<p>En attente de validation</p>
							<form action="{{ path('validate_comment', {'id': comment.id}) }}" method="post">
								<button type="submit">Valider</button>
							</form>
							<form action="{{ path('delete_comment', {'id': comment.id}) }}" method="post">
								<button type="submit">Supprimer</button>
							</form>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}


			{% if isAuthenticated %}
				<div class="single-post-add-comment-wrapper">
					{% if app.session.has('success') %}
						<div class="alert alert-success">{{ app.session.get('success') }}</div>
					{% endif %}
<<<<<<< HEAD
					<form id="comment-form" action="{{ path('add_comment', {'id': post.id}) }}" method="post">
						<h2>Ajoute un commentaire</h2>
						<div class="add-comment-box">
=======
					<form action="{{ path('add_comment', {'id': post.id}) }}" method="post">
						<h2>Ajoute un commentaire</h2>
						<div>
>>>>>>> 47511f0b1717e522b9c821facf56431bf8316335
							<textarea name="content" cols="30" rows="10"></textarea>
							<br>
							<input type="submit" value="Publier mon commentaire">
						</div>
					</form>
				</div>
			{% endif %}
<<<<<<< HEAD

		</div>
		{% if not isAuthenticated %}
			<div class="info-comment">
				<a href="{{path ("session_login_form")}}">Connecte toi pour commenter !</a>
			</div>
		{% endif %}
=======
		</div>
>>>>>>> 47511f0b1717e522b9c821facf56431bf8316335
	</div>
{% endblock %}
