{% extends 'base.html.twig' %}

{% block title %}Blog - {{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Publié le {{ post.createdAt|date('F j, Y') }}</p>
    <h2>Commentaires</h2>
    
    {% for comment in post.getComments() %}
        <p>{{ comment.content }}</p>
        <p>Par {{ comment.author.name }} le {{ comment.createdAt|date('F j, Y') }}</p>
    {% endfor %}
    {% if isAdmin %}

     <h2>Ajoute un commentaire</h2>
    {% if app.session.has('success') %}
    <div class="alert alert-success">{{ app.session.get('success') }}</div>
    {% endif %}
    <form action="{{ path('add_comment', {'id': post.id}) }}" method="post">
        <textarea name="content" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="Publier mon commentaire">
    </form>
    {% endif %}




{% endblock %}
